@model Proyecto1_MVC_AaronVillalobosArguedas.Models.Libro

<!-- Modal -->
<div class="modal fade" id="@String.Format("deleteModal-{0}", Model.ISBN)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.ISBN)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.ISBN)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Titulo)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Titulo)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Editorial)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Editorial)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Edicion)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Edicion)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Autor)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Autor)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Disponibles)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Disponibles)
                    </dd>
                </dl>
            </div>

            <form asp-action="Delete" method="post" id="@String.Format("delete-book-form-{0}", Model.ISBN)">
                <input type="hidden" asp-for="ISBN" />
            </form>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" form="@String.Format("delete-book-form-{0}", Model.ISBN)" class="btn btn-danger">Borrar</button>
            </div>

        </div>
    </div>
</div>