@model ICollection<Proyecto1_MVC_AaronVillalobosArguedas.Models.Libro>

@{
    ViewData["Title"] = "View";
}

<style>
    a{
        text-decoration:none;
    }
</style>

<h1>Biblioteca Proyecto #1</h1>

<h4>Listado de Libros Disponibles</h4>
<hr />
<div class="row">
    @if(Model.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ISBN</th>
                    <th scope="col">Título</th>
                    <th scope="col">Editorial</th>
                    <th scope="col">Edición</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Ejemplares</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var libro in Model)
                {
                    <tr>
                        <td>@libro.ISBN</td>
                        <td>@libro.Titulo</td>
                        <td>@libro.Editorial</td>
                        <td>@libro.Edicion</td>
                        <td>@libro.Autor</td>
                        <td>@libro.Disponibles</td>
                        <td style="text-decoration:none;">
                            <span href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ver Detalles">
                                <i class="fa-solid fa-circle-info"></i>
                            </span> |
                            <span href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Prestamo">
                                <i class="fa-solid fa-hand-holding-heart"> </i>
                            </span> |
                            <span href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Editar">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </span> |
                            <span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar">
                                <i class="fa-solid fa-trash" data-bs-toggle="modal" data-bs-target="@String.Format("#deleteModal-{0}", libro.ISBN)" ></i>
                            </span>
                        </td>
                    </tr>

                    <partial name="_Delete" for="@libro"/>
                }
            </tbody>
        </table>
    } else
    {
        <p> No hay datos registrados. </p>
    }
</div>

<div style="text-align:right">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
        Agregar Libro
    </button>
</div>

@{
    Html.RenderPartial("_Create", new Libro());
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
