@model ICollection<Proyecto1_MVC_AaronVillalobosArguedas.Models.LibroSocio>

@{
	ViewData["Title"] = "View";
}

<style>
	a {
		text-decoration: none;
	}
</style>

<h1>Biblioteca Proyecto #1</h1>

<h4>Listado de Pr&eacute;stamos Registrados</h4>
<hr />
<div class="row">
	@if (Model.Count > 0)
	{
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Cedula del Socio</th>
					<th scope="col">ISBN</th>
					<th scope="col">Fecha Prestamo</th>
					<th scope="col">Fecha de Retorno</th>
					<th scope="col">Estado</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var prestamo in Model)
				{
					<partial name="_Delete" for="@prestamo" />
					<tr>
						<td>@prestamo.Id</td>
						<td>@prestamo.SocioId</td>
						<td>@prestamo.LibroISBN</td>
						<td>@prestamo.FechaPrestamo</td>
						<td>@prestamo.FechaRetorno</td>
						<td>@(prestamo.Estado ? "Activo" : "Devuelto")</td>
						<td style="text-decoration:none;">
							<span href="#" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Prestamos Activos">
								<i class="fa-solid fa-circle-info"> </i>
							</span>
							@if (prestamo.Estado)
							{
								@Html.Raw("|");
								<span data-bs-toggle="tooltip" data-bs-placement="bottom" title="Eliminar">
									<i class="fa-solid fa-book" data-bs-toggle="modal" data-bs-target="@String.Format("#deleteModal-{0}", prestamo.Id)"></i>
								</span>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<p> No hay datos registrados. </p>
	}
</div>

<div style="text-align:right">
	<a asp-controller="LibroSocios" asp-action="Create">
		<button style="color: white !important;" type="button" class="btn btn-primary">
			Agregar Prestamo
		</button>
	</a>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}

<script>
	var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
	var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
		return new bootstrap.Tooltip(tooltipTriggerEl)
	})
</script>
